In [1]:
import numpy as np
import pandas as pd
from Cluster import Cluster
from kmean import k_means,result

In [2]:
f=pd.read_csv('diabetes_prediction_dataset.csv')
df=pd.DataFrame(f)
df

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [3]:
df['gender'] = df['gender'].replace({'Other':2,'Male': 1, 'Female': 0})
df['smoking_history'] = df['smoking_history'].replace({'never':0,'No Info': 1, 'current': 5,'former':2,'ever':4,'not current':3})

In [4]:
features=df.values
df[df['diabetes']==1]

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
6,0,44.0,0,0,0,19.31,6.5,200,1
26,1,67.0,0,1,3,27.32,6.5,200,1
38,1,50.0,1,0,5,27.32,5.7,260,1
40,1,73.0,0,0,2,25.91,9.0,160,1
53,0,53.0,0,0,2,27.32,7.0,159,1
...,...,...,...,...,...,...,...,...,...
99935,0,65.0,1,1,0,33.55,8.2,140,1
99938,1,55.0,0,1,2,30.42,6.2,300,1
99957,0,61.0,0,0,1,34.45,6.5,280,1
99962,0,58.0,1,0,0,38.31,7.0,200,1
99979,0,61.0,0,0,5,30.11,6.2,240,1

In [8]:
k=2
clusters=[Cluster(features[53]),Cluster(features[1])]

In [9]:
k_means(clusters,features)

Epoch 1

In [10]:
total_diabetes_patients=8500
result(clusters,total_diabetes_patients)

Cluster 1 Centroid: [  0.    53.     0.     0.     2.    27.32   7.   159.     1.  ]
Cluster 1 Diabetes Patients: 8500
Percentage of Total Diabetes Patients in Cluster 1: 100.00%
Cluster 2 Centroid: [ 0.   54.    0.    0.    1.   27.32  6.6  80.    0.  ]
Cluster 2 Diabetes Patients: 0
Percentage of Total Diabetes Patients in Cluster 2: 0.00%